.Header {
    height: 10rem;
    background: linear-gradient(to bottom, #6205db 0%, #61087c 100%);
  }
  
  .Heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .Heading h1 {
    color: #fff;
    font-size: 3.5rem;
  }